.info-order {
    position: relative;
    float: left;
    text-align: left;
    margin-bottom: 34px;
    width: 100%;
    margin-top:50px;
}
.container {
    width: 70% !important;
    margin-left: 15% !important;
    min-height:600px;
}
h3#order {
    font-size: 35px;
    text-align:center;
}
.box-button-confirm {
    position: relative;
    float: right;
    display: -webkit-inline-box;
    margin-right: 50px;
    margin-bottom: 75px;
    margin-top:20px;
}

.btn-confirm-order {
    margin-right: 61px;
}

.bill{
    text-align:center;
}

.button-confirm-size{
    padding: 5px 40px;
}