
.panel-login {
    top:0;
    height: 1000px;
    width: 100%;
    position: fixed;
    z-index: 500;
    background-color: #2d3436;
}
.box1 {
    height: 100%;
    width: 60%;
    margin-left: 20%;
}
    .box h2 {
        margin-left: 42%;
        font-size: 55px;
        margin-bottom:15%;
    }
.form {
    margin-bottom: 1%;
}

.input-box {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
}
.button-login-form{
    float:right;
    margin-top:15%;
}

span#spanInRegis {
    margin-top: 0;
}
h1 {
    margin-bottom: 2%;
    text-align: center;
    font-size: 50px;
}

#loginText{
    margin-bottom:20%;
}