.search-form {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    height: 40px;
    border-radius: 40px;
    padding: 2px;
    color:black;
    background-color:white;
}

    .search-form:hover > .textbox-search {
        width: 340px;
        padding: 0 6px;
    }

    .search-form:hover > .linkbutton-search {
        background: white;
        color: black;
    }

.linkbutton-search {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    color: white;
    cursor: pointer;
}

.linkbutton-search > i {
    font-size: 30px;
}

.textbox-search {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}
